<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home" href="/tabs/home" color="success">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="playlists" href="/tabs/playlists">
      <ion-icon aria-hidden="true" name="barcode-outline"></ion-icon>
      <ion-label>Playlists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
