<ion-content [fullscreen]="true">
  <div class="bg-gradient-to-b from-gray-900 to-black flex flex-col h-full p-8">
    <ion-grid
      class="flex flex-col justify-start gap-8 py-6 min-h-[1400px] overflow-y-auto"
    >
      <ion-row>
        <ion-col class="w-full justify-center flex items-center mt-4" size="12">
          <h1 class="text-white text-2xl font-semibold">Perfil del usuario</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <label class="font-extrabold text-xl">Nombre de usuario</label>
        <ion-input
          placeholder="enmarcm"
          class="bg-transparent border-transparent bg-gray-800 placeholder-black outline-none"
          color="success"
          [(ngModel)]="userName"
        ></ion-input>
      </ion-row>

      <ion-row>
        <label class="font-extrabold text-xl">Email</label>
        <ion-input
          placeholder="theenmanuel123@gmail.com"
          class="bg-transparent border-transparent bg-gray-800 placeholder-black outline-none"
          color="success"
          type="email"
          [(ngModel)]="email"
        ></ion-input>
      </ion-row>

      <ion-row>
        <label class="font-extrabold text-xl">Contraseña</label>
        <ion-input
          type="password"
          placeholder="NeverGonnaGiveYouUp"
          class="bg-transparent border-transparent bg-gray-800 placeholder-black outline-none"
          color="success"
          [(ngModel)]="password"
          [value]="password"
        >
          <ion-input-password-toggle
            slot="end"
            color="success"
            class="border-transparent outline-none"
          ></ion-input-password-toggle>
        </ion-input>
      </ion-row>

      <ion-row class="flex justify-between">
        <label class="font-extrabold text-xl">Fecha de nacimiento</label>

        <ion-datetime-button
          datetime="datetime"
          color="dark"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetime"
              presentation="date"
              [(ngModel)]="dateOfBirth"
              color="success"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <h2 class="text-white font-semibold">Que deseas hacer?</h2>
        </ion-col>
      </ion-row>

      @if(renderingArtist){
      <ion-row>
        <ion-button
          shape="round"
          color="success"
          class="mx-auto w-full hover:cursor-pointer hover:opacity-85"
          [routerLink]="['/upload']"
        >
          <span class="text-white font-bold text-md">Subir canción</span>
        </ion-button>
      </ion-row>
      }

      <ion-row>
        <ion-button
          shape="round"
          color="warning"
          class="mx-auto w-full"
          (click)="handleCLickUpdate()"
        >
          <span class="text-white font-bold text-md"
            >Actualizar información</span
          >
        </ion-button>
      </ion-row>

      <ion-row>
        <ion-button
          shape="round"
          color="danger"
          class="mx-auto w-full"
          (click)="deleteAccount()"
        >
          <span class="text-white font-bold text-md">Eliminar cuenta</span>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
