@if(isShow()){
<ion-footer
  class="w-[95%] flex justify-center rounded-md shadow-lg mx-auto opacity-85 max-w-full overflow-hidden"
>
  <ion-toolbar>
    <div class="flex items-center justify-between w-full p-2">
      <div class="flex-shrink-0">
        <ion-buttons slot="start">
          <ion-button (click)="togglePlayPause()">
            <ion-icon
              [name]="isPlaying ? 'pause' : 'play'"
              style="color: aliceblue"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div
        class="flex items-center justify-start flex-grow"
        (click)="OpenModal(true)"
      >
        <img [src]="urlImage" class="h-12 w-12 rounded-full mr-2" />
        <div class="flex flex-col">
          <span class="text-sm truncate">Now Playing: {{ name }}</span>
          <span class="text-xs truncate"
            >Artists: {{ artists | joinArtists }}</span
          >
        </div>
      </div>
    </div>

    <ion-modal [isOpen]="isModalOpen" [class]="dominantColor"
    [style.background]="getGradientStyle(dominantColor)">
    <div
      class="bg-gradient-to-b from-gray-700 to-black flex flex-col h-full w-full"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="CloseModal()">X</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding flex-grow flex flex-col h-full">
          <div class="flex flex-col items-center justify-center h-full">
            <!-- Centered and larger image -->
            <img [src]="urlImage" class="h-48 w-48 rounded-full mb-4" />
            <!-- Centered text for song name and artist names -->
            <div class="text-center">
              <span class="text-xl font-bold truncate">{{ name }}</span
              ><br />
              <span class="text-lg truncate"
                >By {{ artists | joinArtists }}</span
              >
            </div>

            <div class="progress-container w-full mt-4">
              <progress
                value="0"
                max="100"
                id="audioProgressModal"
                class="w-full"
              ></progress>
            </div>

            <div class="flex justify-between w-full mt-4">
              <ion-button (click)="previousSong()" shape="round" color="dark"
                ><ion-icon name="caret-back-outline"></ion-icon
              ></ion-button>
              <ion-button
                (click)="togglePlayPause()"
                class="rounded-full bg-white"
                color="dark"
                shape="round"
                size="large"
              >
                @if(isPlaying){
                <ion-icon name="pause"></ion-icon>
                }@else{
                <ion-icon name="play"></ion-icon>
                }
              </ion-button>
              <ion-button (click)="nextSong()" color="dark" shape="round"
                ><ion-icon name="caret-forward-outline"></ion-icon
              ></ion-button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </div>
    </ion-modal>

    <div class="progress-container">
      <progress value="0" max="100" id="audioProgress"></progress>
    </div>
  </ion-toolbar>
</ion-footer>
}@else{
<div></div>
}
